<!DOCTYPE html>
<html lang="es">

    <head>
        <!--CONFIGURACION-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--FAVICON-->
        <link rel="icon" type="image/png" href="../favicon.png?v=2">
        <!--TITULO DE LA PAGINA-->
        <title>MI PRIMERA WEB</title>
        <!--ENLACE A ESTILOS CSS-->
        <link rel="stylesheet" href="../css/estilos.css">
    </head>


    <body style="background-color:rgb(234, 228, 228);">

        <header>
            <!--LOGO DE LA EMPRESA-->
            <img src="../asset/image/logo.JPG" alt="logo" class="logo">

            <!--MENU DE NAVEGACION-->
            <ul>                      
                <li><a href="../index.html">INICIO</a> </li>
                <li><a href="productos.html">PRODUCTOS</a> </li>
                <li style="background:rgb(77, 76, 76)"><a href="presupuesto.html">PRESUPUESTO</a> </li>  
                <li><a href="contacto.html">CONTACTO</a> </li>
            </ul>
        </header>

        <main>
            <!--CREO EL TITULO DE LA PAGINA-->
            <h1>Solicítenos información y presupuesto sobre las visitas guiadas</h1>
            <!--CREO UN FORMULARIO EN EL QUE SE COMPRUEBAN QUE SE HAN INTRODUCIDO LOS DATOS PARA PODER ENVIARLO, UN CAMPO DE TEXTO MULTILINEA PARA QUE EL USUARIO PUEDA SOLICITAR LA INFORMACIÓN QUE DESEE,
            UN CHECKBOX CON REQUIRED QUE OBLIGA A ACEPTAR LA POLITICA DE PRIVACIDAD PARA PODER ENVIAR EL FORMULARIO-->
            <form>
                <label class="name">Nombre</label><input type="text" class="formulario" placeholder="Nombre y Apellidos" pattern="[a-zA-Z]{3,20}" required><br><br>
                <label class="name">Email</label><input type="email" class="formulario" placeholder="Email" pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9]+\.[a-z]{2,4}" required><br><br>
                <label class="name">Teléfono</label><input type="number" class="formulario" placeholder="+34" required><br><br>
                <label class="name">Solicite información</label><br><br>
                <textarea name="formulario" id="comentario" cols="30" rows="10" placeholder="solicite más informacion"></textarea><br><br>
                <input type="checkbox" required><label>Política de privacidad</label><br><br>
                <input type="submit" value="Enviar" class="boton">
                <input type="reset" value="Borrar" class="boton">
            </form>
            
        </main>

         <!-- FOOTER: Pie de página, accesos a RRSS, aviso legal -->
         <footer>
             <!--CREO UN BLOQUE O CAJA PARA LOS DATOS DE LA EMPRESA-->
            <div class="dirEmpresa">
                <p>
                    <b>Hermano Lobo</b><br>
                     Paseo Fuensanta 17<br>
                    Poza de la sal, Burgos<br>
                    Tlf de contacto:917757473<br>
                    Email:gonzalezrosana@gmail.com
                </p> 
            </div>
            <!--CREO LA NAVEGACION A LOS ENLACES DE DIFERENTES RRSS-->       
            <nav class="enlacesFooter">         
                <a href="http://www.facebook.com"><img class="fb_logo" src="../asset/image/fb.png" alt="facebook icon" width="225" height="225"></a>
                <a href="https://www.instagram.com/"><img class="insta_logo" src="../asset/image/insta_logo.jpg" alt="insta_logo icon" width="119" height="119"></a>
                <a href="https://www.youtube.com/"><img class="youtube_logo" src="../asset/image/youtube.png" alt="youtube_logo icon" width="119" height="79"></a>
                <a href="http://www.google.com"><img class="google_logo" src="../asset/image/google_logo.png" alt="google icon" width="544" height="184"></a>
            </nav>
            <!--CREO UN CHECKBOX PARA LA POLITICA DE PRIVACIDAD QUE OBLIGO A ACEPTAR CON REQUIRED-->
            <span class="privacidad">
                <input type="checkbox" required><label>Política de privacidad</label>
            </span> 

        </footer>
    </body>
</html>